<mat-toolbar style="max-width: 80rem; margin-left: auto; margin-right: auto; border-left: 1px solid; border-right: 1px solid;">
    <button mat-button (click)="goToHome()"> My Store
    </button>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" style="background: none; border: none; cursor: pointer;">
        <mat-icon
            [matBadge]="itemsQuantity"
            [matBadgeHidden]="!itemsQuantity"
            matBadgeColor="warn"   
        >shopping_cart
        </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div style="padding: 0.75rem; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; border-style: none; display: flex; justify-content: space-between; align-items: center;">
            <div>
                <span style="margin-right: 4rem;">{{ itemsQuantity }} Item</span>
            </div>
            <div>
                <button mat-raised-button (click)="goToCart()">View Cart</button>
            </div>
        </div>
        <div *ngIf="cart.items.length" style="padding: 0.75rem; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; border-style: none; display: flex; flex-direction: column; justify-content: space-between; font-weight: lighter; margin-bottom: 0.5rem;">
            <div 
                *ngFor="let item of cart.items"
                style="display: flex; justify-content: space-between; width: 100%; padding-top: 0.75rem; padding-bottom: 0.75rem;">
                <div>{{item.name}} x {{item.quantity}}</div>
                <span style="font-weight: bold;">{{ item.price | currency }}</span>
            </div>
        </div>
        <div style="padding: 0.75rem; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; border-top: solid; display: flex; justify-content: space-between; font-weight: lighter; margin-bottom: 0.5rem;">
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <div>Total</div>
                <span style="font-weight: bold;">{{ getTotal(cart.items) | currency }}</span>
            </div>
        </div>
        <div style="padding: 0.75rem; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-width: 1px; border-style: none; display: flex; justify-content: space-between; font-weight: lighter; margin-bottom: 0.5rem;">
            <div style="display: flex; justify-content: space-between; width: 100%;">
                <button (click)="onClearCart()" style="background-color: red; border: none; border-radius: 50%; padding: 10px; margin-right: 10px; cursor: pointer;">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button 
                    routerLink="cart" 
                    style="background-color: green; border: none; border-radius: 50%; padding: 10px; cursor: pointer;">
                    <mat-icon (click)="goToCart()">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
        <!-- Add more menu items as needed -->
    </mat-menu>
</mat-toolbar>
