<mat-card style="min-height: 100vh; max-width: 80rem; margin-left: auto; margin-right: auto; border-left: 1px solid; border-right: 1px solid;" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" style="width: 100%">
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>Product</th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.product}}" alt="product" style="width: 100px; margin-top: 5px; margin-bottom: 5px;" />
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button (click)="goToHome()">Continue shopping</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                <span style="max-width: 20rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;">{{element.name}}</span>
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">
                {{element.price | currency}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element" style="font-size: large;">
                <button mat-icon-button>
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{element.quantity}}</span>
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let element">
                {{(element.quantity * element.price) | currency}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <span style="font-weight: bold; padding-top: 1.25rem; padding-bottom: 1.25rem; display: block;">
                {{getTotal(cart.items) | currency}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="warn" style="float: right;">
                    Clear Cart
                </button>
            </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="warn" style="float: right;">
                    <mat-icon>close</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button color="primary" style="float: right;">Checkout</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</mat-card>
<mat-card style="min-height: 100vh; max-width: 80rem; margin-left: auto; margin-right: auto; border-left: 1px solid; border-right: 1px solid; color: black; text-decoration: none;" *ngIf="!cart.items.length">
    <mat-card-header>
        <p>
            Your cart is empty.
            <button mat-raised-button routerLink="/home">Start shopping</button>
        </p>
    </mat-card-header>
</mat-card>

