<mat-card *ngIf="product" [ngStyle]="{
  'text-align' : 'center',
}">
  <div>
    <img mat-card-image [ngStyle]="{
      'height' : '150px',
      'width' : '150px',
      'margin' : '0.25rem',
      'padding-top' : '0.75rem'
      }" 
      [src]="product.image" 
      alt="Placeholder image" />
    <mat-card-content>
      <mat-card-subtitle [ngStyle]="{
        'overflow' : 'hidden',
        'text-overflow' : 'ellipsis',
        'white-space' : 'nowrap',
        'width' : '100%',
        'padding-bottom' : '0.75rem'
      }">
        {{ product.title }}
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions [ngStyle]="{
      'justify-content' : 'space-between',
      'flex-direction' : 'padding-right'
    }">
      <span>{{ product.price  | currency }}</span>
      <button mat-flat-button (click)="onAddToCart()">Add to Cart</button>
    </mat-card-actions>
  </div>
</mat-card>

