<mat-drawer-container 
    [autosize]="true"
    style="min-height: 100vh; max-width: 80rem; margin-left: auto; margin-right: auto; border-left: 1px solid; border-right: 1px solid;">

    <mat-drawer mode="side" opened style="padding: 1.5rem;">
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content style="padding: 1.5rem;">
        <app-products-header  
            (itemsCountChange)="onItemsCountChange($event)"
            (sortChange)="onSortChange($event)"
            (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>
        <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight]="rowHeight">
            <mat-grid-tile *ngFor="let product of products">
                <app-product-information 
                    [product]="product"
                    (addToCart)="onAddToCart($event)"
                    style="width: 100%;" 
                    [fullWidthMode]="cols === 1"></app-product-information>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
    
</mat-drawer-container>
<mat-card-footer>
    <app-footer></app-footer>
</mat-card-footer>
